<div class="container signin_form">
  <h1 class="text">Sign In</h1>

<%= form_tag sessions_path do %>
  <fieldset class="form-group text">
    <p >
      <%= label_tag :username%></br>
      <%= text_field_tag :username, nil, autofocus: true %>
    </p>

    <p>
      <%= submit_tag "Sign In" %>
    </p>
  </fieldset>
<% end %>
</div>