<div class="container">
  <h1 class="text-center">Sign In</h1>

<%= form_tag sessions_path do %>
  <fieldset>
    <p  class="form-group row">
      <%= label_tag :username%>
      <%= text_field_tag :username, nil, autofocus: true, class: "form-control"  %>
    </p>

    <p>
      <%= submit_tag "Sign In" %>
    </p>
  </fieldset>
<% end %>
</div>