<div class="layout">
  <div class="left-side-nav">
    Hello 
  </div>
  <div class="right-side-nav"> 
    <div>
      <%= render '/pages/top_navbar' %>
    </div>
    <div class="home_container">
      <div class="home-middle-content">
        <%= yield %>
      </div>
      <div class="home-right-content">
        Right side
    </div>
    </div>
  </div>
</div>

