<div class="top-navbar d-flex justify-content-between">
  <div class="top-logo">
    <i class="fab fa-twitter"></i>
  </div>
  <div class="social-links">
    <i class="fas fa-pen"></i>
    <i class="fas fa-envelope"></i>
    <i class="fas fa-search"></i>
    <i class="fas fa-cog"></i>
  </div>
</div>