<container class="home_container">
<div class="home-middle-content">
  <%= render 'navbar_home' %>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
<div class="home-right-content">
Right side
</div>
</container>