
    <div class="midle-nav">
    <%= render 'navbar_home' %>
    </div>
    <div class="container mt-3">
        <div class="card card-post mb-2 card-pos">
            <div class="card-body">
            <p class="text-secondary">TWEET SOMETHING</p> 
            <div class="input-group mb-1"> 
                <input type="text" class="form-control"> 
                <div class="input-group-prepend">
                <span class="input-group-text">TWEET</span>
                </div>     
            </div>
            </div>
        </div>
        <p>
        <% for p in @posts do %>
            <div class="card card-post">
            <div class="card-body">
                <p><%= p.content %></p>
            </div>    
            </div>
        <% end %>      
        </p>
    </div>