
    <%= render 'navbar_home' %>
    <% link_to 'Log Out', session_path('active'), method: :delete %>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Pages#home</h1>  <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <h1>Pages#home</h1>
  