
    <div class="banner">
      This is Banner
    </div>
    <div>
      <%= render 'navbar_user' %>
    </div>
    <div>
      <h1>Pages#profile</h1>
      <p>Find me in app/views/pages/profile.html.erb</p>

      <h1>Pages#profile</h1>
      <p>Find me in app/views/pages/profile.html.erb</p>
      <h1>Pages#profile</h1>
      <p>Find me in app/views/pages/profile.html.erb</p>
    </div>  

