// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f7f7f8
}
.layout {
  display: flex;
}

.left-side-nav {
  width: 15%;
  background-color: #252B3B;
}

.right-side-nav {
  width: 85%;

}

.top-navbar {
  height: 70px;
  background: #24a6da;
}

.banner {
  height: 300px;
  background-color: rgb(197, 197, 197);
}

.home_container {
 display: flex;
}

.home-middle-content {
  width: 75%;
  border-right: solid 1px rgb(224, 222, 222);

}

.home-right-content {
  width: 25%;
}

h1{
  color: white;
  font-weight: bold;
}

.container-index {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5%;
}

.text {
  color: #24a6da;
}

.user_detail {
  height: 130px;
}

.top-logo {
  padding-top: 20px;
  padding-left: 30px;  
}

.top-logo i {
  font-size: 30px;
  color: white;
}

.social-links {
  color: rgb(75, 73, 73);
  font-size: 25px; 
  margin-top: 20px;
  margin-right: 20px;
}

.social-links i {
  margin-left: 50px;
}

.card-post {
  border: none;
}

.midle-nav {
  border-bottom: solid 1px rgb(224, 222, 222);
}

.user_image_name {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  height: 40px;
}

.profile_image {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}